<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSBptsOJP6r0b50vnueuVJkkQog-0sX-U</string>
	<key>GCM_SENDER_ID</key>
	<string>460969578586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.universalRecommendationSystem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>universalrecommendationsys</string>
	<key>STORAGE_BUCKET</key>
	<string>universalrecommendationsys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460969578586:ios:02bbf23da6c41b01b44863</string>
</dict>
</plist>